/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.eot');
  src: url('../fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-300.woff') format('woff'),
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype'),
    url('../fonts/poppins-v20-latin-300.svg#Poppins') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.eot');
  src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
    url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.eot');
  src: url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-600.woff') format('woff'),
    url('../fonts/poppins-v20-latin-600.ttf') format('truetype'),
    url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.eot');
  src: url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-900.woff') format('woff'),
    url('../fonts/poppins-v20-latin-900.ttf') format('truetype'),
    url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg');
}


/* Variables */

:root {
  --color-brand-dark: #465929;
  --color-brand-light: #819B57;
  --color-primary-dark: #31261A;
  --color-primary-light: #FAF4EA;
}


/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.link {
  color: var(--color-primary-light);
  line-height: 27px;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  border-color: var(--color-brand-light);
}


/* Hero section */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  font-size: 128px;
  font-weight: 900;
  color: var(--color-primary-light);
  text-align: center;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
}


/* Traditions-section */
.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}


/* Adventages-section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 900;
}

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}




/* Chefs */
.chefs-title {
  margin-bottom: 80px;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}


/* Formats */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}


/* Contact-section */
.contacts-title {
  margin-bottom: 16px;
}

/* Footer */
.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.adress-link:hover {
  color: var(--color-brand-light);
}

.adress-copyright {
  font-size: 14px;
  color: #A18268;
}