.input {
	position: relative;


	&__label {
		position: absolute;
		top: 16px;
		left: 42px;
	}

	&__control {
		padding: 8px 24px;
		width: 100%;
		border: 1px solid var(--color-secondary-dark);
		border-radius: 8px;
		background-color: transparent;
		font-size: 16px;
		line-height: 1.17;
		color: var(--color-primary-dark);

		@media screen and (min-width: $bp-tablet) {
			padding: 16px 42px;
			width: 100%;
			font-size: 18px;
		}

		&:focus::placeholder {
			color: var(--color-primary-dark);
		}

		&::placeholder {
			font-size: 16px;
			line-height: 1.17;
			color: var(--color-secondary-dark);

			@media screen and (min-width: $bp-tablet) {
				font-size: 18px;
			}
		}

		&:focus {
			border-color: var(--color-brand-normal);
			outline: none;
		}

		&:disabled {
			border-color: lightgrey;
			cursor: not-allowed;
		}

		&:disabled::placeholder {
			color: lightgray;
		}
	}


}