.chefs-section {


	&__title {
		margin: 0 auto 24px;
		position: relative;


		@media screen and (min-width: $bp-tablet) {
			margin-bottom: 80px;
		}

		@media screen and (min-width: $bp-desktop) {

			&::before,
			&::after {
				content: '';
				width: 352px;
				border: 1px solid var(--color-brand-light);
				position: absolute;
				bottom: 24px;
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}
	}


	&__list {
		display: flex;
		flex-direction: column;
		gap: 45px;
		flex-wrap: wrap;

		@media screen and (min-width: $bp-tablet) {
			flex-direction: row;
			gap: 40px 30px;
		}
	}

	&__item {
		@media screen and (min-width: $bp-tablet) {
			flex-basis: calc((100% - 30px) / 2);
		}
	}
}