.traditions-section {
	padding-top: 40px;

	@media screen and (min-width: $bp-tablet) {
		padding-top: 96px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		align-items: flex-start;
	}

	&__content {
		max-width: 710px;
	}

	&__title {
		margin-bottom: 24px;

		@media screen and (min-width: $bp-tablet) {
			margin-bottom: 42px;
		}
	}

	&__text {
		&--limited {
			margin-top: 42px;
		}

		@media screen and (min-width: $bp-tablet) {
			&--limited {
				max-width: 340px;
			}
		}
	}

	&__img {
		display: none;

		@media screen and (min-width: $bp-tablet) {
			display: block;
			border-top-left-radius: 400px;
			border-top-right-radius: 400px;
		}
	}

}